@media only screen and (min-device-width : 1500px) and (max-device-width : 1920px) {
#row1{
    background-position: center center;
    background: no-repeat;
    width: 50%;
}
#displaytext{
  font-family: Arial Narrow,Arial,sans-serif; 
letter-spacing: 2.5px;
font-weight: bold;
text-transform: uppercase;
color: black;
font-stretch: ultra-condensed;
 font-weight: 800;
 line-height: 20;
}
#f1 {
font-size: 10px;
 text-shadow: 1px 1px;

}
#f2 {
  font-size: 11px;
  text-shadow: 1px 1px;

}
#f3 {
  font-size: 11px;
  text-shadow: 1px 1px;

}
#f4 {
  font-size: 10px;
  

}
#f5 {
  font-size: 9.5px;
  
}
/*for single beads of different necklaces start*/
#curve111 {
   d: path("M161,166  161,275");
}#curve121 {
   d: path("M161,166  161,275");
}#curve131 {
   d: path("M161,166  161,275");
}#curve141 {
   d: path("M161,166  161,275");
}#curve151 {
   d: path("M163,166  163,275");
}#curve161 {
   d: path("M163,166  163,275");
}#curve171 {
   d: path("M161,166  161,275");
}
/* for single bead end*/

/*2 beads*/
#curve211 {
 d: path("M153,165 140,297");
}
#curve212 {
d: path("M175,165 210,290");
}#curve221 {
 d: path("M153,165 140,297");
}
#curve222 {
d: path("M175,165 210,290");
}#curve231 {
 d: path("M153,165 140,297");
}
#curve232 {
d: path("M175,165 210,290");
}#curve241 {
 d: path("M153,165 140,297");
}
#curve242 {
d: path("M175,165 210,290");
}#curve251 {
 d: path("M160,165 155,297");
}
#curve252 {
d: path("M182,165 225,290");
}#curve261 {
 d: path("M160,165 155,297");
}
#curve262 {
d: path("M182,165 225,290");
}#curve271 {
 d: path("M153,165 140,297");
}
#curve272 {
d: path("M175,165 210,290");
}
/*2 beads*/

/*3 beads*/
#curve311 {
  d: path("M142,161  115,210");
}
#curve312 {
  d: path("M160,167  158,200");
}
#curve313 {
 d: path("M178,162  226,260");
}
#curve321 {
  d: path("M150,163  129,210");
}
#curve322 {
  d: path("M168,167  173,200");
}
#curve323 {
 d: path("M190,161  218,200");
}
#curve331 {
  d: path("M150,163  129,210");
}
#curve332 {
  d: path("M168,167  173,200");
}
#curve333 {
 d: path("M190,161  218,200");
}
#curve341 {
  d: path("M150,163  133,210");
}
#curve342 {
  d: path("M168,167  173,200");
}
#curve343 {
 d: path("M190,161  218,200");
}
#curve351 {
  d: path("M156,165  147,210");
}
#curve352 {
  d: path("M176,166  188,200");
}
#curve353 {
 d: path("M197,157  230,190");
}
#curve361 {
  d: path("M156,165  147,210");
}
#curve362 {
 d: path("M176,166  188,200");
}
#curve363 {
 d: path("M197,157  230,190");
}
#curve371 {
  d: path("M150,163  133,210");
}
#curve372 {
  d: path("M168,167  173,200");
}
#curve373 {
 d: path("M190,161  218,200");
}
/*3 beads */

/* 4 beads*/
#curve411 {
  d: path("M133,157  101,210");
}
#curve412 {
  d: path("M153,165  148,200");
}
#curve413 {
 d: path("M176,166  193,230");
}
#curve414 {
 d: path("M199,160  240,230");
}
#curve421 {
  d: path("M138,158  107,210");
}
#curve422 {
  d: path("M158,166  154,200");
}
#curve423 {
 d: path("M181,166  202,230");
}
#curve424 {
 d: path("M200,155  241,210");
}
#curve431 {
  d: path("M138,158  107,210");
}
#curve432 {
  d: path("M158,166  154,200");
}
#curve433 {
 d: path("M181,166  202,230");
}
#curve434 {
 d: path("M200,155  241,210");
}
#curve441 {
  d: path("M138,158  107,210");
}
#curve442 {
  d: path("M158,166  154,200");
}
#curve443 {
 d: path("M181,166  202,230");
}
#curve444 {
 d: path("M200,155  241,210");
}
#curve451 {
  d: path("M143,163  126,210");
}
#curve452 {
  d: path("M167,167  172,200");
}
#curve453 {
 d: path("M189,161  216,210");
}
#curve454 {
 d: path("M207,146 254,190");
}
#curve461 {
  d: path("M143,163  126,210");
}
#curve462 {
  d: path("M167,167  172,200");
}
#curve463 {
 d: path("M189,161  216,210");
}
#curve464 {
 d: path("M207,146 254,190");
}
#curve471 {
  d: path("M138,158  107,210");
}
#curve472 {
  d: path("M158,166  154,200");
}
#curve473 {
 d: path("M181,166  202,230");
}
#curve474 {
 d: path("M200,155  241,210");
}
/* 4 beads*/

/* 5 beads*/
 #curve511 {
  d: path("M122,150  74,210");
}
#curve512 {
  d: path("M140,162  120,200");
}
#curve513 {
 d: path("M160,166  160,230");
}
#curve514 {
 d: path("M182,165  218,230");
}
#curve515 {
 d: path("M205,153  248,210");
}
#curve521 {
  d: path("M125,156  80,210");
}
#curve522 { 
 d: path("M141,164  126,210");
}
#curve523 {
   d: path("M165,166  165,200");
}
#curve524 {
  d: path("M185,162  220,230");
}
#curve525 { 
  d: path("M205,148  258,210");
}
#curve531 {
  d: path("M125,156  80,210");
}
#curve532 {
  
 d: path("M141,164  126,210");
}
#curve533 {
   d: path("M165,166  165,200");
}
#curve534 {
  d: path("M185,162  220,230");
}
#curve535 { 
  d: path("M205,148  258,210");
}
#curve541 {
  d: path("M125,156  80,210");
}
#curve542 {
 d: path("M141,164  126,210");
}
#curve543 {
   d: path("M165,166  165,200");
}
#curve544 {
  d: path("M185,162  220,230");
}
#curve545 { 
  d: path("M205,148  258,210");
}
#curve551 {
  d: path("M129,158  97,200");
}
#curve552 {
 d: path("M151,164  141,210");
}
#curve553 {
   d: path("M173,164  181,200");
}
#curve554 {
  d: path("M193,156  240,210");
}
#curve555 { 
  d: path("M210,140  273,180");
}
#curve561 {
  d: path("M136,160  109,200");
}
#curve562 {
 d: path("M151,164  141,210");
}
#curve563 {
   d: path("M173,164  181,200");
}
#curve564 {
  d: path("M193,156  240,210");
}
#curve565 { 
  d: path("M210,140  273,180");
}
#curve571 {
  d: path("M125,156  80,210");
}
#curve572 {  
 d: path("M141,164  126,210");
}
#curve573 {
   d: path("M165,166  165,200");
}
#curve574 {
  d: path("M185,162  220,230");
}
#curve575 { 
  d: path("M205,148  258,210");
}
/* 5 beads*/


}
