*{
font-family: Arial;
}
#wrapper{
display: flex;
flex-direction: row;
width: 100%;
 margin:0px auto;
}
form{
  width: 80%;
  margin:0px auto;
  margin-top: 20px;
  padding: 50px;
  border: 2px solid gray;
  border-radius: 1%;
}
select{
  width: 100%;
  margin:0px auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
label{
  width: 100%;
  text-align:center;
  margin:0px auto;
  margin-top: 40px;
  margin-bottom: 10px;
}
input{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#row1{
    background-position: center center;
    width: 50%;
}
#row2{
    width: 50%;"
}

#displaytext{
  font-family: Arial Narrow,Arial,sans-serif; 
letter-spacing: 2.5px;
font-weight: bold;
text-transform: uppercase;
color: black;
font-stretch: ultra-condensed;
 font-weight: 800;
 line-height: 20;
}
#f1 {
font-size: 13px;
 text-shadow: 1px 1px;

}
#f2 {
  font-size: 14px;
  text-shadow: 1px 1px;

}
#f3 {
  font-size: 15px;
  text-shadow: 1px 1px;

}
#f4 {
  font-size: 14px;
  text-shadow: 1px 1px;

}
#f5 {
  font-size: 13px;
  text-shadow: 1px 1px;
}

/*for single ring*/
#curve111 {
 d: path("M189,240  186,297");
  }
  #curve121 {
  d: path("M189,240  186,297");
}
#curve131 {
  d: path("M189,240  186,297");
}
#curve141 {
  d: path("M189,240  186,297");
}
#curve151 {
  d: path("M192,240  189,297");
}
#curve161 {
  d: path("M191,240  189,297");
}
#curve171 {
  d: path("M189,240  186,297");
}
/*for single ring*/

/*for 2 rings for only beads*/

#curve211 {
  d: path("M175,238 168,297");
}

#curve212 {
  d: path("M211,239 223,290");
}#curve221 {
  d: path("M175,238 168,297");
}

#curve222 {
  d: path("M211,239 223,290");
}#curve231 {
  d: path("M175,238 168,297");
}

#curve232 {
  d: path("M211,239 223,290");
}#curve241 {
  d: path("M175,238 168,297");
}

#curve242 {
  d: path("M211,239 223,290");
}#curve251 {
    d: path("M185,242 185,297");
}

#curve252 {
    d: path("M225,240 245,290");
}#curve261 {
  d: path("M185,242 185,297");
}

#curve262 {
  d: path("M225,240 245,290");
}#curve271 {
  d: path("M175,238 168,297");
}

#curve272 {
  d: path("M211,239 223,290");
}

/*for 2 rings for only beads*/


/*for 3 rings ring*/
#curve311 {
  d: path("M158,227 Q142,250 130,280");
}
#curve312 {
  d: path("M187,239  184,297");
}
#curve313 {
 d: path("M221,236  250,290");
}
#curve321 {
  d: path("M171,234  155,270");
}
#curve322 {
  d: path("M200,239  207,297");
}
#curve323 {
 d: path("M235,232  264,270");
}
#curve331 {
  d: path("M171,234  155,270");
}
#curve332 {
  d: path("M200,239  207,297");
}
#curve333 {
 d: path("M235,232  264,270");
}
#curve341 {
  d: path("M171,234  155,270");
}
#curve342 {
  d: path("M200,239  207,297");
}
#curve343 {
 d: path("M235,232  264,270");
}
#curve351 {
  d: path("M183,236  173,270");
}
#curve352 {
  d: path("M212,239  229,297");
}
#curve353 {
 d: path("M243,224  292,270");
}
#curve361 {
  d: path("M183,236  173,270");
}
#curve362 {
   d: path("M212,239  229,297");
}
#curve363 {
  d: path("M243,224  292,270");
}
#curve371 {
  d: path("M171,234  155,270");
}
#curve372 {
  d: path("M200,239  207,297");
}#curve373 {
 d: path("M235,232  264,270");
}
/*for 3 rings ring*/

/*for 4 rings ring*/
  #curve411 {
  d: path("M141,221  101,290");
}

#curve412 {
  d: path("M174,236  167,290");
}

#curve413 {
 d: path("M213,238  227,290");
}

#curve414 {
  d: path("M250,227  280,280");
}
  #curve421 {
  d: path("M148,227  120,280");
}

#curve422 {
  d: path("M183,239  179,290");
}

#curve423 {
 d: path("M220,237  239,290");
}

#curve424 {
  d: path("M255,222  298,280");
}
  #curve431 {
  d: path("M148,227  120,280");
}

#curve432 {
  d: path("M183,239  179,290");
}

#curve433 {
 d: path("M220,237  239,290");
}

#curve434 {
  d: path("M255,222  298,280");
}
  #curve441 {
  d: path("M148,227  120,280");
}

#curve442 {
  d: path("M183,239  179,290");
}

#curve443 {
 d: path("M220,237  239,290");
}

#curve444 {
  d: path("M255,222  298,280");
}
  #curve451 {
  d: path("M162,235  151,270");
}

#curve452 {
  d: path("M197,239  202,280");
}

#curve453 {
 d: path("M235,230  265,280");
}

#curve454 {
  d: path("M265,210  333,270");
}
  #curve461 {
  d: path("M162,235  151,270");
}

#curve462 {
  d: path("M197,239  202,280");
}

#curve463 {
 d: path("M235,230  265,280");
}

#curve464 {
  d: path("M265,210  333,270");
}
  #curve471 {
  d: path("M148,227  120,280");
}

#curve472 {
  d: path("M183,239  179,290");
}

#curve473 {
 d: path("M220,237  239,290");
}

#curve474 {
  d: path("M255,222  298,280");
}
/*for 4 rings ring*/

/* 5 beads*/
  #curve511 {
  d: path("M124,213  65,277");
}
#curve512 {
  d: path("M152,231  130,280");
}
#curve513 {
  d: path("M187,239  188,290");
}

#curve514 {
 d: path("M225,236  248,290");
}

#curve515 {
  d: path("M255,217  305,270");
}
 #curve521 {
  d: path("M129,219  88,270");
}
#curve522 {
  d: path("M157,234  139,280");
}
#curve523 {
  d: path("M194,241  197,290");
}

#curve524 {
 d: path("M231,234  262,290");
}

#curve525 {
  d: path("M260,212  325,270");
}
 #curve531 {
  d: path("M129,219  88,270");
}
#curve532 {
  d: path("M157,234  139,280");
}
#curve533 {
  d: path("M194,241  197,290");
}

#curve534 {
 d: path("M231,234  262,290");
}

#curve535 {
  d: path("M260,212  325,270");
}
 #curve541 {
  d: path("M129,219  88,270");
}
#curve542 {
  d: path("M157,234  139,280");
}
#curve543 {
  d: path("M194,241  197,290");
}

#curve544 {
 d: path("M231,234  262,290");
}

#curve545 {
  d: path("M260,212  325,270");
}
 #curve551 {
  d: path("M133,228  104,270");
}
#curve552 {
  d: path("M171,236  163,280");
}
#curve553 {
  d: path("M206,237  220,290");
}

#curve554 {
 d: path("M244,224  297,290");
}

#curve555 {
  d: path("M271,198  357,250");
}
 #curve561 {
  d: path("M144,228  119,270");
}
#curve562 {
  d: path("M171,236  163,280");
}
#curve563 {
  d: path("M206,237  220,290");
}

#curve564 {
 d: path("M243,224  295,290");
}

#curve565 {
  d: path("M270,198  355,250");
}
 #curve571 {
  d: path("M129,219  86,270");
}
#curve572 {
  d: path("M157,234  139,280");
}
#curve573 {
  d: path("M194,241  197,290");
}

#curve574 {
 d: path("M231,234  262,290");
}

#curve575 {
  d: path("M261,212  328,270");
}
/* 5 beads*/

